<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shadow.dao.UserMapper">

	<!-- 根据ID获取用户信息 -->
	<select id="getUser" resultType="org.shadow.entity.User">
		Select id, name, email, createTime, lastTime From user Where id = #{id}
	</select>

	<!-- 获取用户信息列表 -->
	<select id="getUserList" resultType="org.shadow.entity.User">
		Select id, name, email, createTime, lastTime From user
	</select>

	<insert id="insertUser" parameterType="org.shadow.entity.User">
		INSERT INTO user (`id`, `name`, `password`, `gender`, `email`, `createTime`, `lastTime`)
		VALUES (#{id}, #{name}, #{password}, #{gender}, #{email}, #{createTime}, #{lastTime});
	</insert>

	<delete id="deleteUser">
		Delete From user
		Where id = #{id}
	</delete>

	<update id="changePassword">
		Update user
		Set password = #{password}
		Where id = #{id}
	</update>
</mapper>